<%= render partial: "shared/error_messages", locals: { record: @auction_bid } %>
<%= form_for @profile, url: user_profile_path(current_user, @profile) do |p| %>

     <div class="form-group">
       <%= p.label :first_name %>
       <%= p.text_field :first_name, :class => "form-control" %>

      <div class="form-group">
       <%= p.label :last_name %>
       <%= p.text_field :last_name, :class => "form-control" %>
     </div>



      <div class="form-group">
        <%= p.label :blurb %>
        <%= p.text_area :blurb, :class => "form-control" %>
         <%= p.hidden_field :user_id, :value => current_user.id %>

      </div>


     <div class="actions">
       <%= p.submit class: "btn-btn-primary"%>
    </div>

<% end %>
