<%= render partial: "shared/error_messages", locals: { record: @auction_bid } %>
<br/>

<%= form_for [@auction,@auction_bid] do |f| %>

  <div class="form-group">
   <%= f.label :bid %>
   <%= f.text_field :bid, placeholder: "Enter your bid amount" %>
  </div>
  <br/>
  <%= f.submit %>

<% end %>
