
<h2><%= link_to @auction.title, @auction %></h2>
<p><%= @auction.description %></p>

<% @auction_bid.each do |bid| %>
  <% if auction_bid.user %>
    <div>
      <%= auction_bid.user %>'s bid
      <%= number_to_currency(auction_bids.bid) %> at
      <%= bid.created_at.strftime("%a, %B %e, %Y - %l:%m:%M %p") %>
    </div>
  <% end %>
<% end %>
