
<h2><%= link_to @auction.title, @auction %></h2>
<p><%= @auction.description %></p>

<% @auction_bids.each do |bid| %>
  <% if bid.user %>
    <div>
      <%= bid.user.name %>'s bid
      <%= number_to_currency(@auctions.bid)%> at 
      <%= bid.created_at.strftime("%a, %B %e, %Y - %l:%m:%M %p") %>
    </div>
  <% end %>
<% end %>
