<div id="auctions">
  <% @auctions.each do |auction| %>
    <div class="box">
      <%= image_tag auction.image.url(:medium) %>
      <%= auction.description %>
      <%= auction.user if user.auction %>
      <%= link_to 'Show', auction_path(aution) %>
      <% if auctions.user ==current_user %>
        <%= link_to 'Edit', edit_auction_path(auction) %>
        <%= link_to 'Destroy', auction, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
     </div>
  <% end %>
</div>
        
