<%= render partial: "shared/error_messages", locals: { record: @auction } %>
<%= form_for @auction, html: { multipart: true } do |f| %>

    <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% if params[:action] == "new" or params[:action] == "create" %>
    <div class="form-group">
      <%= f.label :expires_at %>
      <%= f.select :expires_at, {'7 days' => 7.days.from_now, 'Two weeks' => 14.days.from_now, 'One month' => 1.month.from_now }, class: "form-control", prompt: "Select auction length" %>
    </div>
  <% else %>
    <%= f.hidden_field :expires_at, value: @auction.expires_at %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn-btn-primary"%>
  </div>

  
<script type="text/javascript">
  //$('.datepicker').datepicker()
</script>

  <% end %>

