<%= render partial: "shared/error_messages", locals: { record: @auction } %>
<%= form_for @auction, html: { multipart: true } do |f| %>

    <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <input type="text" class='datepicker' placeholder="Click to Select Start Date" >
  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
 </script> 
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
  <input type="text" class='datepicker' placeholder="Click to Select End Date">
  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
 </script> 
  </div>


  <div class="form-group">
  <%= f.label :starting_amount %>
  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
  </div>


  <div class="actions">
    <%= f.submit class: "btn-btn-primary"%>
  </div>

<% end %>

