<%= render partial: "shared/error_messages", locals: { record: @auction } %>
<%= form_for @auction, html: { multipart: true } do |f| %>

    <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :start_date %>
  <%= f.date_select :starts_at_date, order: [:month, :day, :year] %>
  </div>

  <div class="form-group">
  <%= f.label :end_date %>
  <%= f.date_select :expires_at_date, order: [:month, :day, :year] %>
  </div>

 
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
  </div>


  <div class="actions">
    <%= f.submit class: "btn-btn-primary"%>
  </div>

<% end %>

