<h4><%= link_to 'Back', auctions_path %></h4>


<%= image_tag @auction.image.url(:thumb) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>  <strong>User:</strong>
  <%= @auction.user %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @auction.expires_at %>
 </p>

<p>
  <strong>Current Bid:</strong>
  <%= @auction.highest_auction_bid %>


 <% if @auctions = current_user.auctions %>
    <h4><%= link_to 'Edit', edit_auction_path(@auction) %></h4>
    <h4><%= link_to 'Destroy', auction_path, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
  <% else %>
    <h4><%= link_to "Bid on this auction", new_auction_auction_bid_path(@auction) %></h4>
<% end %>