
<p>
<%= image_tag @auction.image.url(:thumb) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @auction.user %>
</p>

<p> 
  <strong>End Time:</strong>
    <%= @auction.expires_at_date %>  
</p>

<p>
  <strong>Highest Current Bid:</strong>
  <%= @auction.highest_auction_bid %>

<p><%= link_to "Bid on this auction", new_auction_auction_bid_path(@auction)  %></p>

<% if @auction.user == current_user %>
  <%= link_to 'Edit', edit_auction_path(@auction) %> 
  <% end %>
<%= link_to 'Back', auctions_path %>

