<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">My Ebayish</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li> 
        <li><%= link_to "Link", '#' %></li>
        <li><%= link_to "Link", '#' %></li> 
        </li>
      </ul>
         <!-- nav bar righr -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Auctions", my_auctions_path %></li>
        <li><%= link_to "My Profile", my_profile_path %></li> 
          <% if user_signed_in? %>

          <li><%= link_to "Account Settings", edit_user_registration_path %></li>

          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
      <form class="form-horizontal">
      <div class="form-group form-group-lg">
        
        <div class="container">
        <div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg btn btn-primary" type="button">Submit</button>
          </span>
       </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->

        <div class="dropdown">
            <button class="btn btn-default btn-lg"  type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Dropdown
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
             </ul>
        </div>
       </div>  
      </div>
      </div>       
    </div>
  </form>     
</nav>
