<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href"root_path"=>My Ebayish</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
         <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li> 
          <li><%= link_to "Current Auctions", auctions_path %></li>
          <li><%= link_to "My Auctions", my_auctions_path %></li>
          <li><%= link_to "My Profile", my_user_profile_path(current_user)%></li> 
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>


    </div><!-- /.container-fluid -->
      <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <div class="container">
        <div class="col-lg-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg btn btn-primary" type="button">Submit</button>
          </span>
      </div>
      </div>       
    </div>
  </form>     
</nav>
