
<% if user_signed_in? %>
  <h3><%= link_to 'New auction', new_auction_path %></h3>
<% end %>

<div id="auctions" class="transitions-enabled">
  <% @auctions.each do |auction| %>
    <div class="box panel panel-default">
       <%= link_to image_tag(auction.image.url(:medium)), auction %>
         <div class="panel-body">
           <%= auction.title %>
           <%= auction.description %>
           <%= auction.user %>
           <%= auction.expires_at %>
           <%= auction.highest_auction_bid %>
         </div>
    </div>
  <% end %>
</div>
